# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Composer
/composer.phar
/composer.lock
/vendor

# PHPUnit
/.phpunit.result.cache
/clover.xml

# phpDocumentor
/.phpdoc
/docs
